<html>
    @Html.Partial("header", Model.PageName)
<body style="align-content: center; text-align: center">
    <link rel="stylesheet" href="/assets/index.css" />
    @Html.Partial("nav")
    <div class="jumbotron white-text">
        <img src="/assets/logo_outline.png" style="height:15%; width:40%;" />
        <p class="lead">The open source City Pop archive. Legal requests to <i>legal@opencpa.org</i>.</p>
        <hr class="my-4">
        <p>@Model.NumArchived items archived.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Browse</a>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/preservingdata.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Preserving Information</h5>
                        <p class="card-text">This archive serves as a store for preserving easily readable English information on the greatest Japanese artists of the 70s and 80s.</p>
                        <a href="#" class="btn btn-primary">View Artists</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/noriki.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cover to Cover</h5>
                        <p class="card-text">Need information on a track? You only have to look through the catalog of available albums.</p>
                        <a href="#" class="btn btn-primary">Browse Albums</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="/assets/git.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Community Sourced</h5>
                        <p class="card-text">Contact us to become a curator for the site, uploading new information and content to be preserved.</p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/albumfade.png" style="width: 100%"/>
            </div>
            <div class="col-sm" style="text-align:left">
                <h2>A dynamic album archive.</h2>
                <p class="lead">Open source and community run, you can contribute.</p>
                <p>All data that is contributed to OpenCPA, and indeed the server itself are all open source. These repositories are all available in a Git repository on Github, which you can find <a href="https://github.com/OpenCPA">here.</a></p>
                <p>You can contribute by branching the source repository's master branch, and then creating a pull request. Any image resources you contribute must be made available for reuse by their respective copyright owners, and credited as such.</p>
            </div>
        </div>
    </div>
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h3>Thanks for coming!</h3>
                    <p class="pr-5 text-white-50">You can access more information about this site's backend on the Github repository at the links on the right. You can also contribute by submitting a pull request.</p>
                    <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                    <ul class="m-0 p-0">
                        <li>- <a href="#">Lorem ipsum</a></li>
                        <li>- <a href="#">Nam mauris velit</a></li>
                        <li>- <a href="#">Etiam vitae mauris</a></li>
                        <li>- <a href="#">Fusce scelerisque</a></li>
                        <li>- <a href="#">Sed faucibus</a></li>
                        <li>- <a href="#">Mauris efficitur nulla</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                    <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
