<!DOCTYPE html>
<html>
@Html.Partial("header", Model.PageName)
<body>
    <!-- Simple login form. -->
    <h2>Log In.</h2>
    @if (Model.HasError) {
        <p style="color: red;">@Model.Error</p>
    }

    <form action="/login?redirect=@Model.Redirect" method="post">
        <label for="Username">Username: </label>
        <input name="Username" />
        <br>
        <label for="Password">Password: </label>
        <input name="Password" type="password" />
        <br>
        <button type="submit">Go</button>
    </form>
</body>
</html>