<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=unicode" />
    <title>OpenCPA - Login</title>
    <link rel="stylesheet/less" type="text/css" href="/assets/login.less" />
    <script src="/assets/jquery-3.4.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script>
        $("#login-button").click(function (event) {
            event.preventDefault();
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
        });
    </script>
</head>
<body>
    <!-- Simple login form. -->
    <div class="wrapper">
        <div class="container">
            <h1>Log in.</h1>
            @if (Model.HasError)
            {
                <p style="color: red;"><b>@Model.Error</b></p>
            }
            <form class="form" action="/login?redirect=@Model.Redirect" method="post">
                <input type="text" placeholder="Username" name="Username">
                <input type="password" placeholder="Password" name="Password">
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>